// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

:root {
  --primary-color: #{mat.get-theme-color($theme, primary, 70)};
  --primary-lighter-color: #{mat.get-theme-color($theme, primary, 90)};
  --primary-darker-color: #{mat.get-theme-color($theme, primary, 50)};
  --accent-color: #{mat.get-theme-color($theme, primary, 70)};
  --accent-lighter-color: #{mat.get-theme-color($theme, primary, 90)};
  --accent-darker-color: #{mat.get-theme-color($theme, primary, 50)};
  --white: #ecf0f1;
}

:root {
  --primary-color: #{mat.get-theme-color($theme, primary, 70)};
  --primary-lighter-color: #{mat.get-theme-color($theme, primary, 90)};
  --primary-darker-color: #{mat.get-theme-color($theme, primary, 50)};
  --accent-color: #{mat.get-theme-color($theme, primary, 70)};
  --accent-lighter-color: #{mat.get-theme-color($theme, primary, 90)};
  --accent-darker-color: #{mat.get-theme-color($theme, primary, 50)};
  --white: #ecf0f1;
}

html {
  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradient-bg {
  background: linear-gradient(
    138deg,
    var(--primary-darker-color) 0%,
    var(--primary-color) 100%
  );
}

.spacer {
  flex: 1 1 auto;
}

@keyframes animateInPrimary {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animateInSecondary {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-in-primary {
  animation: animateInPrimary;
  animation: animateInPrimary;
  animation-duration: 750ms;
}

.animate-in-secondary {
  animation: animateInSecondary ease-in 1;
  animation: animateInSecondary ease-in 1;
  animation-duration: 750ms;
}
